<div class="todos-wrapper">
  <div class="container">

    <div class="todo-item completed">
      <div class="check-box">
        <i class="material-icons-outlined">check</i>
      </div>
      <p class="todo-text">Ceci est la div todo-text !</p>
    </div>

    <div class="todo-item">
      <div class="check-box">
        <i class="material-icons-outlined">check</i>
      </div>
      <p class="todo-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Corporis id veritatis rem iste voluptate. Eum, aperiam recusandae ipsum eveniet at aspernatur delectus itaque! Soluta illo magnam nesciunt molestiae veritatis? Commodi.</p>
    </div>

  </div>
</div>
