<div class="notes-wrapper">
    <div class="container">
        <div class="notes-list">

            <div class="note-card">
                <div class="note-card-title">Titre de ma note</div>
                <div class="note-card-content">Je suis le contenu =)</div>
            </div>

            <div class="note-card">
                <div class="note-card-title">Titre de ma note</div>
                <div class="note-card-content">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Reiciendis laboriosam officia, unde incidunt nihil in animi est ratione facilis voluptate sed cupiditate nobis pariatur veritatis quia dicta repellendus error ipsum!</div>
            </div>

        </div>
    </div>
</div>
